<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorldService" />
                <binding name="BasicHttpBinding_IVendaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/HelloWorldService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService"
                contract="HelloService.IHelloWorldService" name="BasicHttpBinding_IHelloWorldService" />
            <endpoint address="http://192.168.101.145:9090/VendaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendaService"
                contract="VendaService.IVendaService" name="BasicHttpBinding_IVendaService" />
        </client>
    </system.serviceModel>
</configuration>